In [1]:
import pandas as pd

In [36]:
OUTPUT_PATH='~/Desktop/software_analysis_projects/entity_resolution/data/raw/2_processed_donors_similarity.csv'

In [37]:
df = pd.read_csv(OUTPUT_PATH)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  767 non-null    int64
 1   left_side   767 non-null    object
 2   right_side  767 non-null    object
 3   similarity  767 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 24.1+ KB

In [49]:
# df[(df['similarity'] < 1.0) & (df['similarity'] > 0.90)].count()
# df[(df['similarity'] > 0.9)].count()

# df[df['similarity'] > 0.9].unique()
# df.groupby('similarity').similarity.count()

Unnamed: 0    683
left_side     683
right_side    683
similarity    683
dtype: int64

In [50]:
df[(df['similarity'] <  0.99)]

,Unnamed: 0,left_side,right_side,similarity
67,67,2239 n. western inc.,2239 n. western inc.,1.000000
70,70,225 w. ontario corp.,225 w. ontario corp.,1.000000
71,71,225 w. ontario corp. dba magnum's steak and lo...,225 w. ontario corp. dba magnum's steak and lo...,1.000000
74,74,2264 n clark street,2264 n clark street,1.000000
75,75,2264 n clark street,2264 n clark street,1.000000
...,...,...,...,...
319,319,23rd ward regular democratic org.,23rd ward regular democratic organization,0.847887
320,320,23rd ward regular democratic org.,23rd ward regular democratic organization,0.847887
321,321,23rd ward regular democratic org.,23rd ward regular democratic organization,0.847887
322,322,23rd ward regular democratic org.,23rd ward regular democratic organization,0.847887
323,323,23rd ward regular democratic org.,23rd ward regular democratic organization,0.847887

In [30]:
df.sort_values(by='similarity').head(70)

,Unnamed: 0,left_side,right_side,similarity
1892,1892,27th ward republican organization,27th ward reg. republican org.,0.802706
1893,1893,27th ward republican organization,27th ward reg republican org,0.802706
1675,1675,27th ward reg republican org,27th ward republican organization,0.802706
1683,1683,27th ward reg. republican org.,27th ward republican organization,0.802706
276,276,23rd ward regular dem org,23rd ward regular democratic org,0.802758
...,...,...,...,...
1085,1085,25th ward democratic organization,25th ward regular democratic organization,0.818442
1084,1084,25th ward democratic organization,25th ward regular democratic organization,0.818442
1107,1107,25th ward democratic organization,25th ward regular democratic organization,0.818442
1082,1082,25th ward democratic organization,25th ward regular democratic organization,0.818442
1110,1110,25th ward democratic organization,25th ward regular democratic organization,0.818442